# Application of BigData Part 1

## Feature engineering

In [51]:
import pandas as pd
import numpy as np
import sklearn
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import QuantileTransformer
from sklearn.ensemble import RandomForestClassifier

In [52]:
#df_train_no_nan=pd.read_csv('df_train_no_Nan.csv')
df_train_balanced=pd.read_csv('df_train_balanced.csv')

In [53]:
df_train_balanced

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,412198,0,Cash loans,M,N,N,1,292500.0,900000.0,29745.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
1,100757,0,Cash loans,F,N,N,0,180000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
2,239167,0,Cash loans,F,N,Y,1,90000.0,45000.0,5089.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
3,429964,0,Revolving loans,F,N,N,1,67500.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
4,238166,0,Cash loans,F,N,Y,1,81000.0,254700.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,456108,1,Cash loans,F,N,Y,1,135000.0,457834.5,33444.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7524,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
7525,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
7526,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7527,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0

fill all nan

In [6]:
#df_train_no_nan=df_train_no_nan.fillna('none')

In [5]:
df_train_no_nan

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,100022,0,Revolving loans,F,N,Y,0,112500.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100026,0,Cash loans,F,N,N,1,450000.0,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
4,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51068,456205,0,Cash loans,F,N,N,1,180000.0,835380.0,33259.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
51069,456226,0,Cash loans,F,Y,Y,0,225000.0,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
51070,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
51071,456239,0,Cash loans,M,Y,N,0,180000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
51072,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0

Normalize the rest numerical column

In [54]:
#df_numerical_nan=df_train_no_nan.select_dtypes(['float','int'])
df_numerical_balanced=df_train_balanced.select_dtypes(['float','int'])

In [55]:
qt = QuantileTransformer(output_distribution='normal')

In [56]:
#ls_all_nan=df_numerical_nan.columns.tolist()
ls_all_balanced=df_numerical_balanced.columns.tolist()

In [57]:
#del ls_all_nan[1]
del ls_all_balanced[1]

In [10]:
for k in ls_all_nan:
    df_train_no_nan[k] = qt.fit_transform(df_train_no_nan[[k]].values.reshape(-1,1))

In [58]:
for k in ls_all_balanced:
    df_train_balanced[k] = qt.fit_transform(df_train_balanced[[k]].values.reshape(-1,1))

In [12]:
df_train_balanced

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1.091419,0,Cash loans,F,Y,Y,-5.199338,0.006273,2.273052,48586.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,1,0,0,5
1,0.583000,0,Cash loans,M,Y,N,1.554270,0.154930,-0.243255,28516.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,0,3
2,2.244092,0,Cash loans,F,Y,N,-5.199338,-0.165095,-0.374936,20101.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,2,4
3,-1.030858,0,Cash loans,M,Y,N,-5.199338,-0.165095,1.223287,34780.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,0,2
4,-1.481554,0,Revolving loans,M,Y,Y,-5.199338,-0.165095,-0.290058,20250,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49645,3.554066,1,Cash loans,M,N,N,0.809168,0.776528,-0.172731,32746.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,0,2
49646,3.697709,1,Cash loans,F,N,N,0.809168,0.006273,1.653560,46809,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,1,0,6
49647,3.772267,1,Cash loans,M,N,Y,-5.199338,0.935852,-0.573732,19975.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,0,3
49648,3.852026,1,Cash loans,F,N,Y,-5.199338,0.935852,0.056486,23089.5,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,1,2
49649,5.199338,1,Cash loans,F,N,Y,-5.199338,0.316330,-0.352129,20205,...,-5.199338,-5.199338,-5.199338,-5.199338,0,0,0,0,0,0

We use one-hot encoding to convert categorical variables into binary variables

In [59]:
#categorical_variables_nan=df_train_no_nan.select_dtypes(exclude=['int','float'])
categorical_variables_balanced=df_train_balanced.select_dtypes(exclude=['int','float'])

In [60]:
#ls_nan=categorical_variables_nan.columns.tolist()
ls_balanced=categorical_variables_balanced.columns.tolist()

In [15]:
df_dummies_nan=pd.get_dummies(data=df_train_no_nan, columns=ls_nan)
df_dummies_nan

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,-5.199338,1,-5.199338,0.387078,-0.385935,-0.163824,-0.411534,-0.148584,1.656254,0.862544,...,0,0,0,0,0,0,1,0,1,0
1,-3.889639,0,0.724973,0.634851,0.751333,0.154718,0.584984,-0.322932,0.183741,-0.533016,...,0,0,0,0,0,1,0,0,1,0
2,-3.819250,0,-5.199338,-0.920412,-1.629992,-2.023292,-1.505747,1.404533,-0.659948,-1.652486,...,0,0,0,0,0,0,1,0,1,0
3,-3.774033,0,0.724973,1.959536,-0.151121,0.408805,-0.170185,0.138444,0.965881,-0.934131,...,0,0,0,0,0,1,0,0,1,0
4,-3.744563,0,1.558482,-0.479432,-1.010382,-1.209626,-0.744694,0.522099,0.917551,0.746904,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51068,3.657373,0,0.724973,0.147316,0.586473,0.454224,0.391137,0.839121,0.330343,-1.427066,...,0,1,0,0,0,0,0,0,1,0
51069,3.802346,0,-5.199338,0.634851,-0.137177,0.546894,0.062770,0.839121,0.178960,1.584354,...,0,1,0,0,0,0,0,0,1,0
51070,3.876035,1,-5.199338,0.634851,-0.081638,-0.278302,-0.170185,-0.461215,-0.380326,1.404533,...,0,0,0,0,0,0,1,0,0,1
51071,3.962013,0,-5.199338,0.147316,0.526417,-0.236799,0.391137,0.434861,-1.567979,-1.589728,...,0,0,0,0,0,1,0,0,1,0
51072,5.199338,0,-5.199338,-0.267884,0.296607,0.224559,0.221344,-1.865852,-0.032510,-1.671761,...,0,0,0,0,0,1,0,0,1,0

In [63]:
df_dummies_balanced=pd.get_dummies(data=df_train_balanced, columns=ls_balanced)
df_dummies_balanced

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,1.145218,0,0.728240,1.225943,0.761353,0.221087,0.931971,1.513589,0.157842,0.769479,...,0,0,0,0,0,1,0,0,1,0
1,-2.758668,0,-5.199338,0.190587,0.330873,-0.380326,0.482248,0.496390,-0.905995,-0.239380,...,0,0,0,0,0,1,0,0,1,0
2,-0.268025,0,0.728240,-1.358913,-5.199338,-2.824176,-5.199338,0.667419,1.070541,1.292465,...,0,0,0,0,0,1,0,0,1,0
3,1.435744,0,0.728240,-2.063775,-1.181921,-1.407905,-0.995858,0.074087,-0.069056,-1.781363,...,0,0,0,0,0,1,0,0,1,0
4,-0.274676,0,0.728240,-1.674186,-0.973449,-0.512061,-0.995858,-0.193143,-0.029370,0.205941,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,3.457988,1,0.728240,-0.430727,-0.211361,0.526221,-0.348150,0.171458,0.484649,-0.211277,...,0,0,0,0,0,0,1,0,1,0
7524,3.536867,1,0.728240,0.965420,0.407874,1.304527,0.354822,-0.087933,0.778564,-0.075102,...,0,0,0,0,0,1,0,0,1,0
7525,3.664145,1,-5.199338,0.052716,1.705570,1.031509,1.337127,1.132898,0.817193,-0.693469,...,0,0,0,0,0,0,1,0,1,0
7526,3.713233,1,0.728240,0.523537,-0.280911,0.481561,-0.105580,0.074087,1.376573,-0.677464,...,0,0,0,0,0,0,1,0,1,0
7527,5.199338,1,-5.199338,0.694311,-0.042668,-0.282403,-0.105580,-0.461215,-0.483350,1.331265,...,0,0,0,0,0,0,1,0,0,1

# Saving the Dataframes into CSV files for future use
df_dummies_nan.to_csv('df_dummies_nan.csv')

In [67]:
df_dummies_balanced.to_csv('df_balanced.csv')