# Feature engineering

Load data set

In [37]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import QuantileTransformer
from sklearn.ensemble import RandomForestClassifier

In [38]:
df_train_balanced=pd.read_csv('df_train_balanced.csv')

In [39]:
df_test=pd.read_csv('df_test.csv')

In [40]:
df_train_balanced

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,185107,0,Cash loans,F,N,Y,0,90000.0,787500.0,31230.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,156362,0,Cash loans,M,Y,N,0,135000.0,640080.0,31261.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,195983,0,Cash loans,F,Y,N,1,157500.0,591336.0,16389.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,442143,0,Cash loans,F,N,Y,0,135000.0,450000.0,14242.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,185718,0,Cash loans,F,Y,N,0,67500.0,450000.0,16164.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,456108,1,Cash loans,F,N,Y,1,135000.0,457834.5,33444.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7524,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
7525,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
7526,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7527,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0

## Normalize the rest numerical column

select all numerical column

In [41]:
df_numerical_balanced=df_train_balanced.select_dtypes(['float','int'])
df_numerical_test=df_test.select_dtypes(['float','int'])

In [42]:
qt = QuantileTransformer(output_distribution='normal')

In [43]:
ls_all_balanced=df_numerical_balanced.columns.tolist()
ls_test=df_numerical_test.columns.tolist()

Remove the target value and process

In [45]:
del ls_all_nan[1]
del ls_all_balanced[1]

In [46]:
for k in ls_all_balanced:
    df_train_balanced[k] = qt.fit_transform(df_train_balanced[[k]].values.reshape(-1,1))

In [47]:
for k in ls_test:
    df_test[k] = qt.fit_transform(df_test[[k]].values.reshape(-1,1))

In [12]:
df_train_balanced

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0.168477,0,Cash loans,F,N,N,-5.199338,-1.705570,-0.686350,-0.945616,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,1.086456
1,-0.530432,0,Cash loans,F,N,Y,0.731515,0.441766,1.761948,1.910600,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,1.824556,1.152175,0.241963
2,-3.093321,0,Cash loans,F,N,Y,-5.199338,-0.430727,-0.450080,-0.526417,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,0.241963
3,0.026265,0,Cash loans,F,N,N,1.571286,-2.131682,0.372246,-0.018820,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,2.651732,1.152175,-0.313694
4,0.718702,0,Cash loans,M,Y,Y,0.731515,-0.637923,0.320390,-0.111328,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,3.287011,1,Cash loans,F,N,Y,0.731515,-0.430727,-0.190867,0.541094,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,0.241963
7524,3.369389,1,Cash loans,F,Y,Y,0.731515,0.963423,0.447516,1.348960,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,1.194628,-5.199338,-0.313694
7525,3.502028,1,Cash loans,M,N,Y,-5.199338,0.072829,1.727466,1.075207,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,1.152175,0.241963
7526,3.553096,1,Cash loans,M,N,N,0.731515,0.529301,-0.260089,0.495397,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,0.241963
7527,5.199338,1,Cash loans,F,N,Y,-5.199338,0.694311,-0.021329,-0.260089,...,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,1.152175,0.241963

## One encode categoriacl data

We use one-hot encoding to convert categorical variables into binary variables

In [48]:
categorical_variables_balanced=df_train_balanced.select_dtypes(exclude=['int','float'])
categorical_variables_test=df_test.select_dtypes(exclude=['int','float'])

In [49]:
ls_balanced=categorical_variables_balanced.columns.tolist()
ls_test=categorical_variables_test.columns.tolist()

In [50]:
ls_balanced

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [51]:
df_dummies_balanced=pd.get_dummies(data=df_train_balanced, columns=ls_balanced)
df_dummies_balanced

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,-0.701669,0,-5.199338,-1.362078,0.594274,0.363967,0.788455,0.676854,-0.727750,0.415763,...,0,1,0,0,0,0,0,0,1,0
1,-0.988809,0,-5.199338,-0.444534,0.293986,0.372246,-0.072829,0.935852,-1.924632,0.805961,...,0,0,0,0,0,1,0,0,1,0
2,-0.602116,0,0.716839,-0.116941,0.197009,-0.850234,-0.305796,-1.269664,0.663931,-0.954191,...,0,0,0,0,0,0,1,0,1,0
3,1.794403,0,-5.199338,-0.444534,-0.256198,-1.048748,-0.072829,0.676854,-0.305052,0.969427,...,0,0,0,0,0,0,1,0,1,0
4,-0.694229,0,-5.199338,-2.096521,-0.256198,-0.877196,-0.072829,0.676854,-0.042009,-0.705986,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,3.399052,1,0.716839,-0.444534,-0.186000,0.539569,-0.322932,0.148584,0.486918,-0.195700,...,0,0,0,0,0,0,1,0,1,0
7524,3.466660,1,0.716839,0.945616,0.447879,1.316586,0.395204,-0.108103,0.774478,-0.055540,...,0,0,0,0,0,1,0,0,1,0
7525,3.568461,1,-5.199338,0.041413,1.738731,1.053106,1.371657,1.116369,0.817900,-0.689529,...,0,0,0,0,0,0,1,0,1,0
7526,3.604753,1,0.716839,0.496390,-0.256198,0.498519,-0.072829,0.047692,1.393650,-0.673967,...,0,0,0,0,0,0,1,0,1,0
7527,3.907467,1,-5.199338,0.667419,-0.010037,-0.261573,-0.072829,-0.478025,-0.467493,1.325750,...,0,0,0,0,0,0,1,0,0,1

In [52]:
df_dummies_test=pd.get_dummies(data=df_test, columns=ls_test)
df_dummies_test

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,-5.199338,1.579968,1.186981,1.811457,1.023003,1.873053,0.509202,0.209327,0.029800,0.584551,...,0,0,0,0,0,1,0,0,1,0
1,-3.952911,-5.199338,0.901416,1.080589,0.384455,0.951518,0.432104,-0.930962,-2.413129,-0.373473,...,0,1,0,0,0,0,0,0,1,0
2,-3.517482,-5.199338,0.015055,-0.556927,-0.517790,-0.842694,0.979511,0.320742,0.598915,-0.296683,...,0,0,0,0,0,0,1,0,1,0
3,-3.454423,0.746351,0.533636,-0.188033,-0.341493,-0.211070,0.432104,1.060909,0.020689,2.104112,...,0,0,0,0,0,1,0,0,1,0
4,-3.400432,-5.199338,-1.346386,-0.999986,-0.692715,-0.842694,-1.264066,1.223112,-0.333524,-0.131798,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,3.229139,-5.199338,0.533636,-0.663276,0.288000,-0.842694,-1.264066,0.831209,-0.943986,-0.156744,...,0,0,0,0,0,1,0,0,1,0
8399,3.234652,-5.199338,-1.068522,-1.418119,-0.945616,-1.467860,-0.593940,0.744694,2.702784,0.737605,...,0,0,0,0,0,0,1,0,1,0
8400,3.339828,0.746351,-1.068522,0.605701,0.419115,0.444534,-0.729877,1.156164,-0.028916,0.344582,...,0,0,0,0,0,1,0,0,1,0
8401,4.110136,0.746351,-1.068522,0.135645,-0.844790,-0.139710,0.043924,-0.258665,-0.119468,-0.164297,...,0,0,0,0,0,0,1,0,1,0
8402,5.199338,0.746351,0.015055,-1.460531,-1.075207,-1.467860,-0.299230,-0.269742,-1.409668,0.671732,...,0,0,0,0,0,1,0,0,1,0

## Saving new dataset

Save new and process dataset

In [53]:
df_dummies_test.to_csv('df_clean_test.csv',index=False)

# Saving the Dataframes into CSV files for future use
df_dummies_nan.to_csv('df_dummies_nan.csv')

In [54]:
df_dummies_balanced.to_csv('df_balanced.csv',index=False)

In [55]:
df_dummies_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8403 entries, 0 to 8402
Columns: 213 entries, SK_ID_CURR to EMERGENCYSTATE_MODE_Yes
dtypes: float64(82), uint8(131)
memory usage: 6.3 MB

In [56]:
df_dummies_balanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7528 entries, 0 to 7527
Columns: 214 entries, SK_ID_CURR to EMERGENCYSTATE_MODE_Yes
dtypes: float64(82), int64(1), uint8(131)
memory usage: 5.7 MB